body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.tshirt-section {
  padding: 40px 20px;
  background: linear-gradient(to right,  #1900ff, #fffb00);
  text-align: center;
}

.heading {
  color: #ffffff;
  font-size: 2.8rem;
  margin-bottom: 30px;
}

.tshirt-gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tshirt-card {
  height: 350px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.tshirt-card:hover {
  transform: scale(1.05);
}

.info {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
}
